* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Cairo';
    background: url('https://katerren.github.io/Coursera/module3/images/background.jpg')
}

h1 {
    font-family: 'Baumans';
    font-size: 60px;
    margin: 0.2em;
}

h2 {
    margin: 0.25em 0 0.4em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid grey;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 22px;
}

td {
    width: 22px;

}

input[type=number] {
    width: 4em;
    margin: 3px 5px 3px 0;
}

#sizePicker {
    font-size: 1.3em;

}

#colorPicker {
  height: 35px;
  width: 35px;
  padding: 2px 3px;
}


input[type=button], input[type=submit] {
  width: 30px;
  height:  30px;
  cursor: pointer;
}
